.contenedor-fotos {
    top: calc(var(--height__header) + var(--height__contentPrimary));
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor-columna {
    margin: 0 0.2em;
}

.contenedor-post {
    position: relative;
    margin: 0.5em 0.05em;
    animation: fotos linear both;
    animation-timeline: view();
    animation-range: entry 1% cover 40%;
}

.imagen {
    max-width: 230px;
    border-radius: 10px;
}

.contenedor-botones {
    visibility: hidden;
}

.guardar,
.compartir,
.menu {
    position: absolute;
    background-color: hsl(0, 0%, 92%);
    border: none;
    border-radius: 50%;
}

.guardar {
    width: 5em;
    height: 3em;
    top: 1em;
    right: 2em;
}

.icon-guardar {
    font-size: 1.5em;
}

.compartir {
    width: 2.5em;
    height: 2.5em;
    bottom: 1em;
    right: 4.5em;
}

.icon-compartir, .icon-menu {
    font-size: 1.2em;
}

.menu {
    width: 2.5em;
    height: 2.5em;
    bottom: 1em;
    right: 1.5em;
}

.contenedor-post:hover .contenedor-imagen {
    filter: grayscale(70%) blur(2px);
    opacity: 0.9;
}

.contenedor-imagen:hover + .contenedor-botones,
.contenedor-botones:hover {
    visibility: visible;
}

.guardar:hover {
    background-color: hsl(0, 0%, 80%);
}

@keyframes fotos {
    from {
        opacity: 0;
        transform: translate(0, 20px) scale(0.7);
    }
    to {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}