* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    cursor: default;
}

:root {
    --height__header: 15vh;
    --height__new: 20vh;
    --height__contentPrimary: calc(140vh - var(--height__header) - var(--height__footer));
    --height__footer: 5vh;
    --color__1: hsl(0, 0%, 80%);
    --color__2: hsl(0, 0%, 92%);
    --borderRadius__20px: 20px;
    --scrollbar__display: none;
    --width__item: 25%;
    --width__sliderBox: 0%;
}

/* body {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 4;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contentPrimary {
    width: 100%;
    height: var(--height__contentPrimary);
    position: absolute;
    top: var(--height__header);
    display: grid;
    grid-template-rows: 25% 75%;
}

#contentHighlight__box {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 30% 70%;
}

#contentHighlight__title {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 100%;
}

#contentHighlight__body {
    grid-row: 2/3;
    height: 100%;
    position: relative;
    overflow: hidden;
}


#user__getIntoBox {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--color__1);
    filter: opacity(90%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_logInBox {
    width: 80%;
    height: 90%;
    background-color: var(--color__2);
}

.sliderBox {
    display: flex;
    width: var(--width__sliderBox);
    height: 100%;
    margin-left: -100%;
}

.sliderBox__section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sliderBox__imgBox {
    aspect-ratio: 1/1;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color__1);
    border: 2px solid transparent;
    box-shadow: 0 0 4px 3px transparent;
    filter: opacity(95%);
    transition: all 0.5s;
}

.sliderBox__imgBox:hover {
    border: 2px solid var(--color__1);
    box-shadow: 0 0 4px 3px var(--color__1);
    filter: opacity(100%);
}

img[class^="sliderBox__img"] {
    width: 100%;
    height: 100%;
    transform: scale(1);
    filter: opacity(95%);
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.1s;
}

img[class^="sliderBox__img"]:hover {
    transform: scale(1.15);
    filter: opacity(100%);
}

.sliderBox__btn {
    width: 30px;
    height: 100%;
    font-size: 150%;
    position: absolute;
    top: 50%;
    color: var(--color__1);
    font-family: "Montserrat", sans-serif;
    background-color: var(--color__2);
    transform: translateY(-50%);
    border-radius: var(--borderRadius__20px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.sliderBox__btn:hover {
    background-color: var(--color__1);
    color: var(--color__2);
    font-size: 160%;
}

.sliderBox__btn--left {
    left: 8px;
}

.sliderBox__btn--right {
    right: 8px;
}

#contentCommunity__box {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 15% 85%;
}

#contentCommunity__title {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 100%;
}

#contentCommunity__title a {
    cursor: pointer;
}

#contentCommunity__body {
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.communityBox {
    width: 15%;
    height: 35%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[class^="community__img"] {
    width: 90%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    object-fit: cover;
}

.community__img1 {
    filter: blur(0px);
    cursor: pointer;
    transition: all 300ms ease-out;
    z-index: 3;
}

.communityBox:hover>.community__img1 {
    width: 85%;
    height: 90%;
    filter: blur(3px);
}

.community__img2 {
    cursor: pointer;
    transition: all 100ms;
    z-index: 2;
}

.community__imgText {
    width: auto;
    height: auto;
    font-size: 150%;
    font-weight: 600;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 6;
    object-fit: cover;
    transition: all 295ms;
}

.community__imgText:hover {
    display: flex;
}

.community__img1:hover~.community__imgText {
    display: flex;
}

